$second-text-color: #2c2c2c;
$main-text-color: #fff;
$main-bg-color: #2c2c2c;
$second-bg-color: #ffffff;
$main-btn-color: #2c2c2c;
$circle-color-active: #00a8d2;
$circle-color: #2c2c2c;
$hover-color: #cbc7c7;
$error-text: #FF0000;